node_modules/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.idea/
*.iml
ios/App/build/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
